<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "./partials/head.html" ignore missing with  context}
    <title>parameters</title>
</head>
<body>
    {% include "./partials/nav.html" ignore missing with  context}

    <h1>Welcome</h1>
    <p>Here is the params </p>

    {if name ==  ""%}
        <h4>Try change url to /params?name =  your name </h4>
    {% endif %}    


    {% include "./partials/dependencies.html" ignore missing with  context}


</body>
</html>